
# day la commet, khongco tac dung ignore files/folders
# alo  alo/ => Git khong theo doi thu muc alo
alo

# chung ta se bo qua tat ca nhung file có duoi la .log
*.log

# mình muốn bỏ qua file abc.xyz nhưng vẫn giữ myfile[.xyz
# sẽ chỉ bỏ qua các file .xyz ở trong git repo
/*.xyz

# mình muốn bỏ qua file abc.txt trong folder second_folder
# Ubunto sử dụng / là path seperation
# Windows thì sử dụng // hoặc \ 
second_folder/abc.txt